<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>

<body>
    <h1><%=title%></h1>
    <div>
        <% messages.map((message, index)=>{ %>
            <p>
                <%= message.messagetext %>
            </p>
            <p>
                <%= message.username %>
            </p>
            <p>
                <%= message.added%>
            </p>
            <a href="/open/<%=message.id%>">Details</a>
            <% }) %>
    </div>

    <a href="/new">Add New Message</a>
</body>

</html>